{% extends 'ToDo/base.html' %}
<!-- here ToDo/base.html means look in the subdirectory named ToDo and then look for the base.html -->
{% block title %}To Do App{% endblock %}
{% block content %}
    <div class = 'list-group float-right mr-3'>
        <li class="list-group-item d-flex justify-content-between align-items-center disabled">
            <strong>total todos</strong>
            <span class="badge badge-info badge-pill">{{ alltodo }}</span>
        </li>
    </div>
    <div class="container">
        <h1>Add To Do</h1>
        <form class = "form-inline" action="{% url 'add_todo' %}" method="post">
            {% csrf_token %}
            <div class = 'row'>
                <div class="col">
                    {{ form.text }}
                    <input class="btn btn-info ml-1" type="submit" value="Add">
                </div>
            </div>
        </form>
    </div>

    <div class="container">
        {% for todo in todo_item %}
        <ul class="list-group">
            <li class="list-group-item">
                {{ todo.text }}
                <div class = 'float-right'>
                    <form action="delete_todo/{{ todo.id }}/" method="post">
                        {% csrf_token %}
                        <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                    </form>
                </div>
                <div class = 'float-right mr-2'>
                    <form action="speak/{{ todo.id }}/" method="post">
                        {% csrf_token %}
                        <button class="btn btn-sm btn-info" type="submit">Speak</button>
                    </form>
                </div>
            </li>
          </ul>
        {% endfor %}
    </div>
{% endblock %}