{% extends 'ToDo/base.html' %}
<!-- here ToDo/base.html means look in the subdirectory named ToDo and then look for the base.html -->
{% block title %}To Do App{% endblock %}
{% block content %}
    <div class="container">
        <h1>Add To Do</h1>
        <form class = "form-inline" action="{% url 'add_todo' %}" method="post">
            {% csrf_token %}
            <div class = 'row'>
                <div class="col">
                    {{ form.text }}
                    <input class="btn btn-info" type="submit" value="Add">
                </div>
            </div>
        </form>
    </div>

    <div class="container">
        <p>Here are some todos</p>
        {% for todo in todo_item %}
        <ul class="list-group">
            <li class="list-group-item">
                {{ todo.text }}
            </li>
          </ul>
        {% endfor %}
    </div>
{% endblock %}