{% extends 'ToDo/base.html' %}
<!-- here ToDo/base.html means look in the subdirectory named ToDo and then look for the base.html -->
{% block title %}To Do App{% endblock %}
{% block content %}
    <div class="container">
        <h1>Add To Do</h1>
        <form class = "form-inline" action="#" method="post">
            {% csrf_token %}
            <div class = 'row'>
                <div class="col">
                    <input type="text" placeholder="Type here...">
                    <input class="btn btn-info" type="submit" value="Add">
                </div>
            </div>
        </form>
    </div>
{% endblock %}